.board {
  bottom: 0;
  display: inline-block;
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

#background {
  background: linear-gradient(to bottom right, white, gray, white, gray, white);
  background: -moz-linear-gradient(bottom right, white, gray, white, gray, white);
  background: -o-linear-gradient(bottom right, white, gray, white, gray, white);
  background: -webkit-linear-gradient(left top, white, gray, white, gray, white);
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 0;
}

@media screen and (orientation: landscape) {
  #background {
    height: 100vw;
    margin-left: -50vw;
    margin-top: -50vw;
    width: 100vw;
  }
}

@media screen and (orientation: portrait) {
  #background {
    height: 100vh;
    margin-left: -50vh;
    margin-top: -50vh;
    width: 100vh;
  }
}

@media screen and (min-aspect-ratio: 6/5) {
  .board {
    height: 85%;
  }
}

@media screen and (max-aspect-ratio: 6/5) {

  @media screen and (min-aspect-ratio: 4/5) {
    .board {
      height: 75%;
    }
  }

  @media screen and (max-aspect-ratio: 4/5) {
    .board {
      width: 80%;
    }
  }
}