#dialog-new-game {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.dl-block input {
  margin: 0 4px;
}

.dl-body {
  background-color: #FFE;
  bottom: 0;
  height: 200px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.dl-btn-bar {
  background-color: #EEE;
  bottom: 0;
  text-align: right;
  position: absolute;
  width: 100%;
}

.dl-block {
  border-color: #CCC;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  position: absolute;
}

.dl-block.left {
  height: 100px;
  left: 8px;
  padding: 4px;
  top: 12px;
  width: 138px;
}

.dl-block.right {
  height: 100px;
  right: 8px;
  padding: 4px;
  top: 12px;
  width: 138px;
}

.dl-block.bottom {
  height: 40px;
  left: 8px;
  line-height: 40px;
  text-align: center;
  top: 124px;
  width: 284px;
}

.dl-name {
  left: 16px;
  position: relative;
  width: 100px;
}

.dl-btn {
  margin: 2px;
  padding: 0 4px;
}