.dialog_background {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.dialog_body {
  background-color: #FFE;
  bottom: 0;
  height: 200px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.dialog_btn_bar {
  background-color: #EEE;
  bottom: 0;
  text-align: right;
  position: absolute;
  width: 100%;
}

.dialog_radio_block {
  border-color: #CCC;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  padding: 4px;
  position: absolute;
}

.dialog_radio_block.left {
  height: 76px;
  left: 8px;
  top: 12px;
  width: 138px;
}

.dialog_radio_block.right {
  height: 76px;
  right: 8px;
  top: 12px;
  width: 138px;
}

.dialog_radio_block.bottom {
  height: 40px;
  left: 8px;
  text-align: center;
  top: 100px;
  width: 284px;
}

.btn_dialog {
  margin: 2px;
}