@media screen and (min-aspect-ratio: 6/5) {
  .player-inf-icon {
    height: auto;
    margin: 16%;
    position: absolute;
    width: 64%;
  }

  .player-inf-background {
    border-radius: 3vw;
    height: 4vw;
    left: 0;
    margin: 96% auto;
    position: absolute;
    right: 0;
    width: 84%;
  }

  .player-inf-background.opp {
    background: linear-gradient(to bottom, #ddd, #fff, #ccc, #bbb, #aaa, #999);
    background: -moz-linear-gradient(bottom, #ddd, #fff, #ccc, #bbb, #aaa, #999);
    background: -o-linear-gradient(bottom, #ddd, #fff, #ccc, #bbb, #aaa, #999);
    background: -webkit-linear-gradient(top, #888, #555, #666, #777, #888, #999);
  }

  .player-inf-background.sel {
    background: linear-gradient(to bottom, #ddd, #fff, #ccc, #bbb, #aaa, #999);
    background: -moz-linear-gradient(bottom, #ddd, #fff, #ccc, #bbb, #aaa, #999);
    background: -o-linear-gradient(bottom, #ddd, #fff, #ccc, #bbb, #aaa, #999);
    background: -webkit-linear-gradient(top, #ccc, #eee, #ccc, #bbb, #aaa, #999);
  }

  .player-inf-color {
    bottom: 0;
    height: auto;
    margin: auto;
    top: 0;
    position: absolute;
    width: 20%;
  }

  .player-inf-color.opp {
    left: 5%;
  }

  .player-inf-color.sel {
    right: 5%;
  }

  .player-inf-timer {
    font-size: 2vw;
    height: 4vw;
    left: 30%;
    margin: auto;
    line-height: 4vw;
    text-align: center;
    padding: 0;
    position: absolute;
    width: 70%;
    bottom: 0;
  }

  .player-inf-name {
    height: 10%;
    margin: 150% 10%;
    position: absolute;
    width: auto;
  }

  .player-inf-timer {
    font-size: 2vw;
    height: 4vw;
    margin: auto;
    line-height: 4vw;
    text-align: center;
    padding: 0;
    position: absolute;
    width: 70%;
    bottom: 0;
  }

  .player-inf-timer.opp {
    color: white;
    right: 0;
  }

  .player-inf-timer.sel {
    left: 0;
    color: black;
  }
}

@media screen and (max-aspect-ratio: 6/5) {
  .player-inf-icon {
  height: 64%;
  top: 16%;
  left: 10%;
  position: absolute;
  width: auto;
}

.player-inf-background {
  background-color: #EEF;
  left: 20%;
  height: 80%;
  top: 10%;
  position: absolute;
  width: 32%;
}

.player-inf-color {
  height: 60%;
  left: 30%;
  top: 20%;
  position: relative;
  width: auto;
}

.player-inf-name {
  height: 60%;
  top: 20%;
  left: 50%;
  position: absolute;
  width: auto;
}
}