@media screen and (orientation: landscape) {
.player-inf-icon {
  height: auto;
  margin: 16%;
  position: absolute;
  width: 64%;
}

.player-inf-background1 {
  background-color: #EEF;
  height: 10%;
  margin: 96% 14%;
  position: absolute;
  width: 72%;
}

.player-inf-color {
  height: 60%;
  left: 10%;
  top: 20%;
  position: relative;
  width: auto;
}

.player-inf-name {
  height: 10%;
  margin: 150% 10%;
  position: absolute;
  width: auto;
}
}

@media screen and (orientation: portrait) {
  .player-inf-icon {
  height: 64%;
  top: 16%;
  left: 10%;
  position: absolute;
  width: auto;
}

.player-inf-background1 {
  background-color: #EEF;
  left: 20%;
  height: 80%;
  top: 10%;
  position: absolute;
  width: 32%;
}

.player-inf-color {
  height: 60%;
  left: 30%;
  top: 20%;
  position: relative;
  width: auto;
}

.player-inf-name {
  height: 60%;
  top: 20%;
  left: 50%;
  position: absolute;
  width: auto;
}
}