html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

#dialog {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  display: none;
  width: 100%;
  z-index: 10;
}

.dialog_body {
  background-color: white;
  bottom: 0;
  height: 50%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.btn_dialog {
  float: right;
}

.tool button {
  height: 100%;
}

.tool {
  background-color: #CCC;
  height: 5%;
  position: relative;
  z-index: 1;
}

.control {
  background-color: #AAA;
  bottom: 0;
  height: 10%;
  position: relative;
  z-index: 1;
}

#main {
  height: 85%;
  position: relative;
}

.board {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

#background {
  background: linear-gradient(to bottom right, white, gray, white, gray, white);
  background: -moz-linear-gradient(bottom right, white, gray, white, gray, white);
  background: -o-linear-gradient(bottom right, white, gray, white, gray, white);
  background: -webkit-linear-gradient(left top, white, gray, white, gray, white);
  bottom: 0;
  display: inline-block;
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.inf {
  background-color: rgba(200, 240, 255, 0.6);
  display: inline-block;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  z-index: 1;
}

@media screen and (orientation: landscape) {
  #background {
    height: 100vw;
    width: 100%;
  }

  .board {
    height: 90%;
  }

  .inf {
    height: 100%;
    width: 12%;
  }

  .inf.opp {
    left: 0;
  }

  .inf.sel {
    right: 0;
  }
}

@media screen and (orientation: portrait) {
  #background {
    height: 100%;
    width: 100vh;
  }

  .board {
    width: 70%;
  }

  .inf {
    height: 10%;
    width: 100%;
  }

  .inf.opp {
    top: 0;
  }

  .inf.sel {
    bottom: 0;
  }
}