* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

html {
  height: 100%;
  overflow: hidden;
}

.tool button {
  bottom: 0;
  font-size: 3vh;
  height: 90%;
  margin: auto .4vh;
  padding: 0 1vh;
  position: absolute;
  top: 0;
}

.tool {
  background: linear-gradient(to bottom, #7df, #bef);
  background: -moz-linear-gradient(bottom, #7df, #bef);
  background: -o-linear-gradient(bottom, #7df, #bef);
  background: -webkit-linear-gradient(top, #7df, #bef);
  height: 6%;
  position: relative;
  z-index: 1;
}

.control {
  background-color: #aaa;
  bottom: 0;
  height: 8%;
  position: relative;
  z-index: 1;
}

#main {
  height: 86%;
  position: relative;
}
