.tool {
  background: linear-gradient(to bottom, #7df, #bef);
  background: -moz-linear-gradient(bottom, #7df, #bef);
  background: -o-linear-gradient(bottom, #7df, #bef);
  background: -webkit-linear-gradient(top, #7df, #bef);
  height: 6vh;
  position: relative;
  z-index: 10;
}

.tool span {
  height: 6vh;
  position: absolute;
  width: 15vh;
}

.tool span span {
  color: #206;
  font-size: 3.2vh;
  text-align: center;
  line-height: 6vh;
}

.tool div {
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
  background-color: #def;
  height: 0;
  top: 6vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.tl-game-sub {
  width: 20vh;
}

.tl-view-sub {
  width: 24vh;
}

.tool span span:hover {
  background-color: rgba(20, 0, 60, .1);
}

.tool span:hover .tl-game-sub {
  height: 5.4vh;
}

.tool span:hover .tl-view-sub {
  height: 10.6vh;
}

.tool li {
  border-color: transparent;
  border-style: outset;
  border-width: .1vh;
  font-size: 3vh;
  height: 5vh;
  line-height: 5vh;
  list-style-type: none;
  margin: .2vh;
  padding-left: 1vh;
}

.tool li:hover {
  border-color: #aaa;
}

.tool li:hover::before,
.tool li:hover::after {
  content: "";
  height: 2.4vh;
  left: .2vh;
  position: absolute;
  z-index: -1;
}

.tool li:hover::before {
  background: linear-gradient(to bottom, #ffe, #ffa);
  background: -moz-linear-gradient(bottom, #ffe, #ffa);
  background: -o-linear-gradient(bottom, #ffe, #ffa);
  background: -webkit-linear-gradient(top, #ffe, #ffa);
}

.tool li:hover::after {
  background: linear-gradient(to bottom, #fd6, #fe9);
  background: -moz-linear-gradient(bottom, #fd6, #fe9);
  background: -o-linear-gradient(bottom, #fd6, #fe9);
  background: -webkit-linear-gradient(top, #fd6, #fe9);
}

#new-game:hover::before {
  top: .2vh;
  width: 19.6vh;
}

#new-game:hover::after  {
  top: 2.6vh;
  width: 19.6vh;
}

#play-number:hover::before {
  top: .2;
  width: 23.6vh;
}

#play-number:hover::after  {
  top: 2.6vh;
  width: 23.6vh;
}

#coordinate:hover::before {
  top: 5.4;
  width: 23.6vh;
}

#coordinate:hover::after  {
  top: 7.8vh;
  width: 23.6vh;
}

.tl-game {
  left: .5vh;
}

.tl-view {
  left: 16vh;
}

.control {
  background-color: #aaa;
  height: 6vh;
  position: relative;
  z-index: -2;
}