.control {
  background-color: #aaa;
  height: 6vh;
  overflow: hidden;
  position: relative;
}

.ctrl-replay {
  height: 5vh;
  left: 1vh;
  position: absolute;
  top: .5vh;
}

.ctrl-replay img {
  float: left;
  height: 5vh;
  margin: 0;
}

.ctrl-game {
  height: 5vh;
  left: 32vh;
  position: absolute;
  top: .5vh;
}

.ctrl-game img {
  float: left;
  height: 5vh;
  margin: 0;
}