#tree-visualize {
  left: 88vh;
  background-color: white;
  bottom: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

#tv-control {
  background-color: #eee;
  height: 40px;
  outline: none;
  width: 100%;
}

#tv-control input {
  margin: 4px;
  outline: none;
  position: relative;
  width: 32px;
}

#tv-control input:hover {
  background-color: #ccc;
}

#tv-control input:active {
  background-color: #ddd;
}

#tv-main {
  bottom: 0;
  left: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 40px;
}

.node text {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
}

.node line {
  cursor: pointer;
}

.link {
  fill: none;
}