#tree-visualize {
  left: 88vh;
  background-color: white;
  bottom: 0;
  display: none;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

#tree-visualize input {
  left: 4px;
  outline: none;
  position: absolute;
  top: 4px;
  width: 32px;
}

#tree-visualize input:hover {
  background-color: #ccc;
}

#tree-visualize input:active {
  background-color: #ddd;
}

#tree-visualize svg {
  left: 0;
  position: absolute;
  top: 40px;
}

.node text {
  font: 12px;
}

.link {
  fill: none;
}