* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

.flip-wrapper {
  height: 120px;
  position: relative;
  margin: 100px;
}

.flip {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  height: 60px;
  margin: 0;
  overflow: hidden;
  padding: 0 8px;
  color: #FAFAFA;
  border-radius: 6px;
  background: #444444;
  font-size: 100px;
  text-shadow: 0 -1px  black;
  box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,
              0 0 1px rgba(255,255,255,.3) inset;
}

.top, .next {
  line-height: 120px;
  transform: rotateX(0deg);
  border-radius: 6px 6px 0 0;
}

.top {
  transform-origin: bottom;
}

.bottom, .back {
  line-height: 0;
  margin-top: 60px;
  border-radius: 0 0 6px 6px;
}

.top, .back {
  backface-visibility: hidden;
  z-index: 2;
}

.back {
  transform-origin: top;
  transform: rotateX(180deg);
}

.bottom {
  transform: rotateX(0deg);
  z-index: 1
}

.top-ani {
  -webkit-animation: fliptop 400ms ease-in-out;
  -moz-animation: fliptop 400ms ease-in-out;
  animation: fliptop 400ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.back-ani {
  -webkit-animation: flipback 400ms ease-in-out;
  -moz-animation: flipback 400ms ease-in-out;
  animation: flipback 400ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fliptop {
  from {
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
  }
}

@-moz-keyframes fliptop {
  from {
    -moz-transform: rotateX(0deg);
  }
  to {
    -moz-transform: rotateX(180deg);
  }
}

@keyframes fliptop {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

@-webkit-keyframes flipback {
  from {
    -webkit-transform: rotateX(180deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
  }
}

@-moz-keyframes flipback {
  from {
    -moz-transform: rotateX(180deg);
  }
  to {
    -moz-transform: rotateX(0deg);
  }
}

@keyframes flipback {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}