html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

#toolbox {
  background-color: #CCC;
  height: 4%;
}

#main {
  height: 96%;
  position: relative;
}

.board {
  bottom: 0;
  height: 95%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 2;
}

#board_background {
  background-color: #AAA;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.information {
  background-color: #AA0;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  width: 15%;
  z-index: 1;
}